.App {

 
    margin-top: 200px;
   margin-bottom: 100px;
   margin-right: 50px;
   margin-left: 50px;
   

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width:80%;
}




@media (min-width: 768px) {
.col-sm-12 {
      width: 100%;
        }
}
@media (min-width: 992px) {
  .col-md-6 {
      width: 100%;
      
  }
}
@media (min-width: 1200px) {
  .col-lg-6 {
      width: 100%;
      
  }
}

.info{
  width:50%;
  float:right;
}

.icon{
  width:50%;
  float:left;
  font-size: 20px;
 font-family: Samsung-Sharp-Sans, bold;
  
}
.dashboardstatslargetext {
  float:right;
  font-family: Samsung-Sharp-Sans, bold;
  font-size: 30px;
 }

.dashboardcardlargetext {
  font-size: 25px;
  font-family: Samsung-Sharp-Sans, bold;
  padding: top 0px;
 
 
}

.dashboardcardsmalltext {
 font-size: 20px;
 font-family: Samsung-Sharp-Sans, bold;
 padding-top:30px;
    
}

.img{
  height:50%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  animation: App-logo-spin infinite 20s linear;

  
}

.dashboardcircle {
  background:gray;
  height: 60px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  width: 60px;
  margin-bottom: 5px;
  border-radius: 75px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardAnimation-appear {
  opacity: 0.01;
  transform: rotate(50deg);
}

.cardAnimation-appear.cardAnimation-appear-active {
  opacity: 1;
  transition: all 1s ease-in;
}